.admin-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
  }
  
  .admin-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .mensagem {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-left: 5px solid #0077ff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
  }
  
  .card p {
    margin: 0.5rem 0;
  }
  
  .card textarea {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .card button {
    margin-top: 0.8rem;
    padding: 0.6rem 1rem;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
  }
  
  .card button:hover {
    background-color: #005fcc;
  }
  
  .sem-perguntas {
    text-align: center;
    color: #888;
  }

  .botao-sair{
    background-color: #e74c3c; /* vermelho */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-sair:hover{
    background-color: #c0392b; /* vermelho escuro no hover */
  }